*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 90vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
    background-color: aqua;
    font-size: 1.5rem;
    color: white;
    background-image: url(https://static1.squarespace.com/static/54e7a1a6e4b08db9da801ded/t/61eb41b698b5f077a9637a40/1642807755677/81.jpg?format=1500w);
    background-repeat: no-repeat;
    background-size: cover;
}
.input{
    width: 30rem;
    height: 2rem;
    border: 1px solid;
    border-radius: 10px;
    margin: 2rem;
    font-size: 1rem;
}
button{
    width: 7rem;
    height: 2rem;
    margin-right: 2rem;
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
}
.audio{
    width: 60rem;
    border: 5px double;
}
.currentImg{
    width: 10rem;
    height: 7rem;
    border: 4px double black;
    border-radius: 10px;
    margin: 2rem;
}
img{
    width: 15rem;
    height: 15rem;
    border: 4px double black;
    border-radius: 10px;
    margin: 2rem;
}
.list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.songimg{
    display: flex;
    justify-content: center;
    align-items: center;
}
.musicbtn{
    background-color: transparent;
    width: 2rem;
    border: none;
}
ion-icon{
    width: 2.5rem;
    height: 2.5rem;
}
.progress{
    /* position: fixed; */
    height:5px;
    width:50rem;
    background-color: white;
}
.progressbar{
    /* position: absolute; */
    height:5px;
    width:0%;
    background-color:black;
}
.player{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
